.header {
	width: 960px;
	height: 200px;
	margin: 00px 0px 0px 00px;
}

h2 {
	text-align: center;
}

p {
	font: 20px tahoma;
	text-align: justify;
	line-height: 30px;
}

img {
	height: 400px;
}

.advert {
	width: 960px;
	height: 600px;
	padding: 0px;
	margin: 0px;
}

.i1 .i2 .i4 .i5 {
	height: 400px;
	margin: 0px;
	padding: 0px;
}

.i1 {
	width: 380px;
	float: left;
}

.i2 {
	width: 380px;
	float: right;
}

.i3 {
	width: 285px;
	margin: 0px 50px 0px 0px;
	float: left;
	padding: 0px;
}

.i4 {
	width: 285px;
	float: left;
}

.i5 {
	width: 285px;
	float: right;
}

button {
	height: 50px;
	width: 960px;
	background: #cf5b4e;
	color: #f9e9da;
	font:  20px tahoma ;
	text-align: center;
	border: 0px;
}

.text {
	width: 900px;
	padding: 10px 00px 10px 00px;
}



