div {
	border: 1px solid;
}

.fullwrap{
	height: 1000px;
	width: 960px;
	margin: 0 auto;
}

.header{
	height: 10%;
	width: 98%;
	margin: 10px;
}

.wrap{
	height: 74%;
	width: 96%;
	margin: 10px;
	padding: 10px;
}

.main{
	height: 99%;
	width: 55%;
	float: left;
}

.sidebar{
	height: 99%;
	width: 35%;
	float: right;
}

.footer{
	height: 10%;
	width: 98%;
	margin: 10px;
}